In [12]:
from Bio import SeqIO
from tqdm import tqdm
import os, random
import pandas as pd

In [3]:
KMER_LENGTH = 6
MAX_KMER_INPUT_LENGTH = 512


random.seed(1000)

NameError: name 'random' is not defined

In [16]:
# Accessing the sequence records in all of Amanda's Dataset

sequence_records = list()

for seq_record in SeqIO.parse(f"out_s0/2023.03.07_09.24.27_sample_0/reads/read1.fq", "fastq"):
    #print(seq_record.id)
    #print(repr(seq_record.seq))
    #print(len(seq_record))

    sequence_records.append(seq_record)

In [19]:
print(sequence_records[0].id)
print(repr(sequence_records[0].seq))
print(len(sequence_records[0]))

S0R0/1
Seq('CAGTTCCTGCTGATTTACATAAATTGTAAGCTCCATCTCGCTGGGCACATAAAC...TAG')
150

In [15]:
# how the fine-tuning data should be formatted
pd.read_csv('sampletrain.tsv', sep='\t')

                                                sequence  label
0      CACAGC ACAGCC CAGCCA AGCCAG GCCAGC CCAGCC CAGC...      0
1      CTAATC TAATCT AATCTA ATCTAG TCTAGT CTAGTA TAGT...      1
2      GGAAGA GAAGAG AAGAGG AGAGGG GAGGGA AGGGAA GGGA...      1
3      CGAAAG GAAAGC AAAGCA AAGCAA AGCAAT GCAATC CAAT...      1
4      TGACTC GACTCC ACTCCC CTCCCA TCCCAA CCCAAA CCAA...      1
...                                                  ...    ...
32361  AGGCTG GGCTGA GCTGAG CTGAGG TGAGGC GAGGCA AGGC...      0
32362  ACTGGG CTGGGG TGGGGA GGGGAA GGGAAC GGAACG GAAC...      1
32363  ACCCTG CCCTGA CCTGAA CTGAAG TGAAGA GAAGAA AAGA...      1
32364  TTGGCC TGGCCT GGCCTG GCCTGA CCTGAC CTGACC TGAC...      1
32365  GTGATG TGATGG GATGGT ATGGTG TGGTGT GGTGTT GTGT...      0

[32366 rows x 2 columns]

In [13]:
mapping = pd.read_csv('out_s0/2023.03.07_09.24.27_sample_0/reads/reads_mapping.tsv', sep='\t')

       #anonymous_read_id genome_id  tax_id                     read_id
0                  S0R0/1   genome7  767817  Desgi_Contig329.1-381809/1
1                  S0R0/2   genome7  767817  Desgi_Contig329.1-381809/2
2                  S0R1/1   genome7  767817  Desgi_Contig329.1-305183/1
3                  S0R1/2   genome7  767817  Desgi_Contig329.1-305183/2
4                 S0R10/1   genome7  767817  Desgi_Contig329.1-291411/1
...                   ...       ...     ...                         ...
666655         S0R99997/2  genome14  526227           NC_014212-38538/2
666656         S0R99998/1  genome17  446468            NC_014211-7028/1
666657         S0R99998/2  genome17  446468            NC_014211-7028/2
666658         S0R99999/1   genome7  767817  Desgi_Contig329.1-222991/1
666659         S0R99999/2   genome7  767817  Desgi_Contig329.1-222991/2

[666660 rows x 4 columns]

In [ ]:
sequences = []
labels = []

for seq_record in sequence_records: